@charset "UTF-8";

// import materialize
@import "materialize/materialize";

// Custom style
@import "style";

//Custom css

html, body {
  height:100%;
}
.appRow{
  height:100%;
}
.sideBar {
  height: inherit;
  background-color: $brand-color-dark;
}
.contentPane{
  height: inherit;
  background-color:  $brand-color-light;
}